@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-[#99BFA1] text-white px-6 py-3 rounded-xl font-medium transition;
  }

  .btn-primary:hover {
    background-color: #8bb394;
  }
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F7F3F0; /* fondo principal */
}