@reference tailwindcss;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos globales */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F3F0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}